<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5ab6ff"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
    <a class="navbar-brand" th:href="@{'/'}">E-SHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="${'/'}" th:text="#{label.home}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="${'/profile'}" th:text="${currentUser.fullName}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="${'/about'}" th:text="#{label.about}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="${'/login'}">Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="JavaScript:void(0)" onclick="document.getElementById('logoutFormId').submit()">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="${'/additem'}" sec:authorize="hasRole('ROLE_ADMIN')">Add Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?lng=ru">RUS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?lng=en">ENG</a>
            </li>
            <form th:action="@{'/logout'}" method="post" id = "logoutFormId" sec:authorize="isAuthenticated()">

            </form>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" th:placeholder="#{label.search}" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit" th:text="#{label.search}"></button>
        </form>
    </div>
</nav>