<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">
<div layout:fragment = "site_content">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{label.name}"></th>
                        <th th:text="#{label.price}"></th>
                        <th th:text="#{label.amount}"></th>
                        <th th:text="#{label.categories}"></th>
                        <th th:text="#{label.country}"></th>
                        <th width="10%" th:text="#{label.details}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="it: ${tovari}">
                        <td th:text="${it.id}"></td>
                        <td th:text="${it.name}"></td>
                        <td th:text="${it.price}"></td>
                        <td th:text="${it.amount}"></td>
                        <td>
                            <span th:each=" cat : ${it.categories}" th:text="${cat.name}" style="display: block"></span>
                        </td>
                        <td th:text="${it.country!=null?(it.country.name + ' - ' + it.country.code): '-----'}"></td>
                        <td><a th:href="@{'/details/' + ${it.id}}" class="btn btn-info btn-sm" th:text="#{label.details}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</html>
